<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Data_Package_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
      <Data_Package_Tool.Properties.Settings>
        <setting name="UseDiscordInstance" serializeAs="String">
          <value>default</value>
        </setting>
        <setting name="SearchExcludeGuilds" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SearchExcludeDMs" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SearchExcludeGDMs" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SearchMode" serializeAs="String">
          <value>exact</value>
        </setting>
        <setting name="SearchBeforeEnabled" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SearchBeforeDate" serializeAs="String">
          <value>2023-01-01</value>
        </setting>
        <setting name="SearchAfterEnabled" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SearchAfterDate" serializeAs="String">
          <value>2023-01-01</value>
        </setting>
        <setting name="SearchCaseSensitive" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SortMode" serializeAs="String">
          <value>desc</value>
        </setting>
      </Data_Package_Tool.Properties.Settings>
    </userSettings>
</configuration>
